   {% load static %}
<section class="header-main border-bottom">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-3 col-lg-2 mb-3 mb-md-0">
                <a href="./" class="brand-wrap">
                    <img class="logo" src="{% static 'images/logo.png' %}">
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-7">
                <div class="d-flex flex-column flex-md-row justify-content-md-center align-items-md-center gap-2">
                    <div class="category-wrap dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bars"></i> All category
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Machinery / Mechanical Parts / Tools</a>
                            <a class="dropdown-item" href="#">Consumer Electronics / Home Appliances</a>
                            <a class="dropdown-item" href="#">Auto / Transportation</a>
                            <a class="dropdown-item" href="#">Apparel / Textiles / Timepieces</a>
                            <a class="dropdown-item" href="#">Home & Garden / Construction / Lights</a>
                            <a class="dropdown-item" href="#">Beauty & Personal Care / Health</a>
                        </div>
                    </div>
                    <a href="./store.html" class="btn btn-outline-primary">Store</a>
                </div>
                <form action="#" class="search mt-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products...">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-3 col-lg-3 mt-3 mt-md-0">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="widget-header me-3">
                        <small class="title text-muted">Welcome guest!</small>
                        <div>
                            <a href="./signin.html">Sign in</a> <span class="dark-transp"> | </span>
                            <a href="./register.html"> Register</a>
                        </div>
                    </div>
                    <a href="./cart.html" class="widget-header">
                        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                        <span class="badge badge-pill badge-danger notify">0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



