
<div class="row">
     {% for product in products %}
     	    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap">
                <img src="{{ product.image.url }}">

            </div> <!-- img-wrap.// -->
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="./product-detail.html" class="title">{{ product.name }}</a>
                    <div class="price-wrap mt-2">
                        <span class="price">${{ product.price }}</span>
                    </div> <!-- price-wrap.// -->
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>
            </figcaption>
        </figure>
    </div> <!-- col.// -->
     {% endfor %}


</div> <!-- row end.// -->